---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=bcbbe8d923aaac456f4700f893cca0f8&lat=37.7749&lon=-122.4194
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.4194,"lat":37.7749},"list":[{"main":{"aqi":2},"components":{"co":290.39,"no":0.89,"no2":6.26,"o3":65.09,"so2":1.06,"pm2_5":4.32,"pm10":9.71,"nh3":0.4},"dt":1713803302}]}'
  recorded_at: Mon, 22 Apr 2024 16:28:23 GMT
recorded_with: VCR 6.2.0
