---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=705747a0716446afafd42636242004&q=37.7749,-122.4194
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999990'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/21/2024 21:37:49
      Cdn-Edgestorageid:
      - '912'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - aaba2f1e74a64271b9694f36c4de9522
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"San Francisco","region":"California","country":"United
        States of America","lat":37.77,"lon":-122.42,"tz_id":"America/Los_Angeles","localtime_epoch":1713735469,"localtime":"2024-04-21
        14:37"},"current":{"last_updated_epoch":1713735000,"last_updated":"2024-04-21
        14:30","temp_c":21.7,"temp_f":71.1,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":13.6,"wind_kph":22.0,"wind_degree":300,"wind_dir":"WNW","pressure_mb":1016.0,"pressure_in":30.0,"precip_mm":0.0,"precip_in":0.0,"humidity":53,"cloud":25,"feelslike_c":21.7,"feelslike_f":71.1,"vis_km":16.0,"vis_miles":9.0,"uv":5.0,"gust_mph":18.1,"gust_kph":29.2},"forecast":{"forecastday":[{"date":"2024-04-21","date_epoch":1713657600,"day":{"maxtemp_c":19.0,"maxtemp_f":66.2,"mintemp_c":11.8,"mintemp_f":53.2,"avgtemp_c":14.7,"avgtemp_f":58.5,"maxwind_mph":9.4,"maxwind_kph":15.1,"totalprecip_mm":0.01,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":76,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":8.0},"astro":{"sunrise":"06:25
        AM","sunset":"07:52 PM","moonrise":"06:00 PM","moonset":"05:25 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":92,"is_moon_up":0,"is_sun_up":1},"hour":[{"time_epoch":1713682800,"time":"2024-04-21
        00:00","temp_c":12.6,"temp_f":54.7,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.7,"wind_kph":4.3,"wind_degree":245,"wind_dir":"WSW","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":78,"cloud":0,"feelslike_c":12.8,"feelslike_f":55.1,"windchill_c":12.8,"windchill_f":55.1,"heatindex_c":12.6,"heatindex_f":54.7,"dewpoint_c":8.8,"dewpoint_f":47.9,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":4.6,"gust_kph":7.4,"uv":1.0},{"time_epoch":1713686400,"time":"2024-04-21
        01:00","temp_c":12.4,"temp_f":54.2,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.5,"wind_kph":4.0,"wind_degree":239,"wind_dir":"WSW","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":81,"cloud":0,"feelslike_c":12.5,"feelslike_f":54.5,"windchill_c":12[...]
